/*base styles*/

body {
    background: lightblue;
    width: 800px;
    margin: auto;
    color: #00000f;
}

p {
    color: white;
    border: 1px solid gray;
    padding: 10px;
    font-size: 15px;
}

.solid {
    outline-style: solid;
    width: 60%
}

#firstDiv {
    color: white;
    text-align: center;
    border: 1px solid gray;
    padding: 8px;
}

h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
}

button[type=button]:hover {
    background-color: #0e5d0e;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    width: 55%;
    text-align: right;
    padding: 1%;
}

tr:hover {
    background-color: #f5f5f5;
}

input[type=text] {
    width: 50%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: f5f5f5;
}

/*Responsive style*/

@media (max-width: 600px) {
    .section-one{
        width: 50%;
        font-size: 13px;
        margin-left: 6%;
    }
    
    table, td, th {
        border-collapse: collapse;
        border: 1px solid black;
        width: 50%;
        text-align: right;
        padding: 1%;
        margin-left: 6%;
    }
    
    input[type=text] {
        width: 30%;
        
    }
    
    .button {
        margin-left: 7.5%;
    }
    
    .section-two{
        margin-left: 6%;
    }
}

@media (max-width: 976px) and (min-width: 601px){
    .section-one{
        width: 70%;
        font-size: 16px;
        margin-left: 6%;
    }
    
    .section-three{
        margin-left: 5%;
    }
    
    table, td, th {
        margin-left: 5%;
    }
    
    .section-two{
        margin-left: 5%;
    }
}

